@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    text-decoration: none;
    /* overflow: hidden; */
}

.logo {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}

.logo:hover {
    color: rgb(2, 2, 93);
}

.login,
.getStarted {
    float: right;
    margin-top: -40px;
    font-size: 24px;
}

.login {
    margin-right: 2rem;
    margin-top: -35px;
}

.login:hover {
    color: rgb(96, 154, 9);
}

.login:hover {
    transition: 1s;
    border: 1px solid green;
    padding: 5px;
    border-radius: 8px;
}

.fa-lock {
    color: green;
    margin-right: 10px;
}

.getStarted {
    background: none;
    border: none;
    background-color: rgb(2, 146, 2);
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
}

.getStarted:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.navBox {
    margin-left: 40rem;
    font-size: 24px;
    margin-top: -25px;
}

a {
    margin-left: 30px;
}

.fa-caret-down {
    margin-left: 5px;
}