@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    text-decoration: none;
}

body {
    overflow-y: hidden;
}

.logo {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}

.logo:hover {
    color: rgb(2, 2, 93);
}

.login,
.getStarted {
    float: right;
    margin-top: -40px;
    font-size: 24px;
}

.login {
    margin-right: 2rem;
    margin-top: -35px;
    cursor: pointer;
}

.login:hover {
    color: rgb(96, 154, 9);
}

.login:hover {
    transition: 0.5s;
    border: 1px solid green;
    padding: 5px;
    border-radius: 8px;
}

.fa-lock {
    color: green;
    margin-right: 10px;
}

.getStarted {
    background: none;
    border: none;
    background-color: rgb(2, 146, 2);
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.getStarted:hover {
    transform: scale(1.1);
    transition: 1.5s;
}

.navBar {
    background-color: white;
    justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: fixed;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.navBox {
    border: 1px solid black;
    overflow: hidden;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 20rem;
    font-size: 24px;
    margin-top: -25px;
    min-width: 100rem;
    height: 30px;
}

a {
    color: black;
    font-weight: 70;
    margin-left: 20px;
    /* left: 20rem; */
}

a:hover {
    color: green;
}

.fa-caret-down {
    margin-left: 5px;
}

.three {
    color: green;
}

.create-account {
    /* display: none; */
    display: block;
    position: absolute;
    background-color: bisque;
    /* border: 1px solid black; */
    box-shadow: -8px 12px 15px 1px rgba(0, 0, 0, 0.81);
    top: 20rem;
    left: 55rem;
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
}

input {
    display: block;
    border-radius: 10px;
    border: none;
    /* border: 1px solid rgb(219, 219, 219); */
    width: 28rem;
    height: 40px;
    font-size: 17px;
    padding-left: 5px;
    margin-left: 11px;
    margin-top: 10px;
    outline: none;
}

.submit {
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    margin-left: 2rem;
    margin-top: 1.5rem;
    padding: 15px 10rem 15px 10rem;
    border: none;
    background-color: rgb(13, 107, 6);
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: -8px 12px 15px -4px rgba(0, 0, 0, 0.81);
    box-shadow: -8px 12px 15px -4px rgba(0, 0, 0, 0.81);
    cursor: pointer;
}

.loginSign {
    /* display: none; */
    display: block;
    position: absolute;
    background-color: bisque;
    /* border: 1px solid black; */
    box-shadow: -8px 12px 15px 1px rgba(0, 0, 0, 0.81);
    top: 20rem;
    left: 20rem;
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
}

.logButton {
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    margin-left: 2.6rem;
    margin-top: 1.5rem;
    padding: 15px 10rem 15px 10rem;
    border: none;
    background-color: rgb(13, 107, 6);
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: -8px 12px 15px -4px rgba(0, 0, 0, 0.81);
    box-shadow: -8px 12px 15px -4px rgba(0, 0, 0, 0.81);
    cursor: pointer;
}

.slideScroll {
    position: absolute;
    display: flex;
    border: 1px solid black;
    min-width: 100%;
    height: 30rem;
    box-sizing: border-box;
    margin-top: 15rem;
    margin-bottom: 20rem;
}

.imgGrid {
    position: relative;
    border-radius: 50px;
    display: table-column-group;
}