@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
    background-color: #E7E9EB;
}

.ball2 {
    background-image: url('animalimg/animalsback4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rem;
    height: 50rem;
    filter: blur(3px);
}

.ball1 {
    z-index: 1;
    border: 1px solid #ff0d0d;
    position: relative;
    top: 30rem;
    left: 20rem;
    background-color: #e20303;
    width: 10rem;
    height: 10rem;
    filter: blur(15px);
}