@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: lightpink;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}