@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* * {
    text-decoration: none;
    box-sizing: border-box;
    margin: none;
    /* outline: none; */


}
body {}
*/
/* .container {
    overflow: hidden;
    position: absolute;
    border: 1px solid black;
    width: 20rem;
    height: 10rem;
}

.el1 {
    background-color: red;
    width: 10rem;
    height: 10px;
    animation: mymove1 3s;
    animation-direction: right;
}

.el2 {
    position: absolute;
    background-color: red;
    bottom: 0;
    width: 10rem;
    height: 10px;
    animation: mymove2 3s;
    animation-direction: left;
}

.el3 {
    background-color: red;
    height: 5rem;
    width: 10px;
    animation: mymove3 3s;
    animation-direction: bottom;
}

.el4 {
    position: absolute;
    background-color: red;
    right: 0;
    height: 5rem;
    width: 10px;
    animation: mymove4 3s;
    animation-direction: u;
}

@keyframes mymove1 {
  from {left: 0px;}
  to {left: 100rem;}
}

@keyframes mymove2 {
  from {left: 0px;}
  to {left: 100rem;}
} */