@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* navBar */

.navBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin: 0;
    outline: none;
    width: 100%;
    overflow: hidden;
    margin-left: -5px;
    padding: 0px;
    margin-right: -20px;
    margin-top: -5px;
    height: 60px;
}

.logo {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 10px;
    font-family: sans-serif;
}

.features,
.homeUs,
.cards,
.FAQ,
.contactUs {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 25px;
    top: 15px;
    left: 10rem;
    margin-left: 3rem;
    text-decoration: none;
    color: black;
    font-style: oblique;
}

.features:hover {
    color: red;
    text-transform: uppercase;
}

.homeUs:hover {
    color: red;
    text-transform: uppercase;
}

.cards:hover {
    color: red;
    text-transform: uppercase;
}

.FAQ:hover {
    color: red;
    text-transform: uppercase;
}

.contactUs:hover {
    color: red;
    text-transform: uppercase;
}

.getCard {
    position: absolute;
    left: 70rem;
    top: 5px;
    font-size: 20px;
    /* border: 1px solid black; */
    padding: 13px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(220, 220, 220);
}

.getCard:hover {
    color: blue;
    border: 1px solid blue;
}


/* cards  */

.getPersonalCard {
    border: 1px solid black;
    position: relative;
    top: 4rem;
}

.cardsSection {
    position: relative;
    top: -28rem;
    right: -20rem;
}

.imagesCards {
    border: 2px solid rgba(255, 255, 255, 0.58);
    background: none;
    position: absolute;
    top: 20rem;
    left: 40rem;
    width: 25rem;
    height: 13rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.68);
    z-index: 2;
    /* background-color: white; */
    /* opacity: 0.8;       */
}

.background {
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 20rem;
    left: 40rem;
    width: 25rem;
    height: 13rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 23px -16px rgba(252, 252, 252, 0.63);
    /* filter: blur(10px); */
    opacity: 0.6;
    z-index: 1;
}

.fa-wifi {
    position: relative;
    left: 22rem;
    top: 1rem;
    transform: rotate(90deg);
    z-index: 2;
}

.cardNr {
    position: relative;
    left: 4rem;
    top: 4rem;
    font-size: 30px;
    /* border: 1px solid black; */
    margin-right: 6rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(235, 235, 235);
    z-index: 2;
}

.maestroLogo {
    position: absolute;
    float: left;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 2;
}

.name,
.expire {
    position: relative;
    left: 19rem;
    top: 6rem;
    display: flex;
    z-index: 3;
}

.gackgroundCard {
    position: relative;
    background-color: red;
    width: 24rem;
    height: 30rem;
    left: 50rem;
    top: 15rem;
    z-index: 0;
    box-shadow: 6px 33px 31px 4px #A5A5A5;
    border-radius: 20px;
    opacity: 0.7;
}

.universal {
    font-size: 50px;
    text-shadow: 0px 0px 5px #FFFFFF;
    color: rgb(202, 1, 1);
    position: relative;
    left: 20px;
    top: 20px;
}

.one {
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.two {
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.tree {
    background-color: #03972f;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -15px;
    margin-bottom: -80px;
}

.four {
    background-color: #f4e407;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -100px;
    margin-right: -40px;
}

.five {
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -40px;
    margin-bottom: -40px;
}

.six {
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -20px;
    margin-right: -20px;
}

.seven {
    background-color: #f4e407;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -85px;
    margin-bottom: -20px;
}

.eight {
    background-color: red;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -100px;
    margin-bottom: -100px;
}

.nine {
    background-color: #03972f;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -50px;
    margin-right: -65px;
}