@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* .boxes-content {
    position: absolute;
    border: 1px solid black;
    top: 15rem;
    left: 30rem;
}

.box {
    position: absolute;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    display: none;
    width: 60rem;
    height: 30rem;
    border-radius: 13px;
}

.buttons-box {
    border: 1px solid black;
    width: 60rem;
    height: 40px;
    position: absolute;
    left: 30rem;
    top: 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
}

.btnOne {
    position: relative;
    margin-left: 80px;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
}

p {
    line-height: 40px;
}

.Two-box {
    background-color: black;
    color: white;
}

.Three-box {
    display: none;
    background-color: rgb(255, 0, 0);
    color: white;
}

.Four-box {
    display: none;
    background-color: rgba(0, 47, 255, 0.622);
    color: white;
}

.Five-box {
    display: none;
    background-color: rgb(255, 251, 0);
    color: black;
} */


/* #content {
    position: absolute;
    width: 20rem;
    max-height: 25rem;
    font-size: 20px;
    box-shadow: 0px 0px 12px -2px rgba(178, 178, 178, 0.87);
    text-align: center;
    overflow: hidden;
    margin: auto;
    transition: max-height 1.7s;
    top: 3rem;
    left: 27rem;
    overflow: hidden;
}


/* #content {
    position: absolute;
    border: 1px solid black;
    max-height: 25;
    width: 20rem;
    left: 40%;
} */


/* p {
    padding: 15px;
} */


/* #btn {
    position: absolute;
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
    background: none;
    background-color: rgb(166, 39, 39, 0.6);
    border: none;
    box-shadow: 0px 0px 12px -2px rgba(178, 178, 178, 0.87);
    margin-top: auto;
    margin-left: 26%;
    display: block;
    top: 30rem;
}

#content,
#btn.open {
    max-height: 45rem;
    width: 20rem;
    transition: max-height 1.7s;
}  */


/* body {
    background-color: chocolate;
}

ul {
    display: flex;
    text-align: center;
    border: 1px solid white;
    width: 50rem;
    height: 10rem;
    background-color: black;
}

li {
    list-style: square;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    width: 90px;
    height: 40px;
    background-color: red;
    color: white;
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
} */


/* * {
    list-style: none;
}

body {
    align-items: center;
    justify-content: center;
}

.main-container {
    background-image: url('/4kwallpaper/Must\ Have\ 4K\ UHD\ Landscapes\ wallpapers\ June\ 2021\ \(TeNeBrA\)_01\ \(14\).jpg');
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 70rem;
    height: 50rem;
    top: 0%;
    position: absolute;
    left: 24rem;
}

.main {
    display: none;
    position: absolute;
    top: 23rem;
    border: 1px solid black;
    left: 19.5rem;
}

.containers {
    position: absolute;
    display: flex;
    border: 1px solid black;
    width: 40rem;
    padding: 40px;
    top: 10rem;
    left: 15rem;
    background-color: rgb(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
}

li {
    color: white;
    text-align: center;
    margin-left: -30px;
    font-size: 40px;
}

.box {
    color: white;
    position: relative;
    margin-left: 1rem;
    margin-top: 0px;
    padding-bottom: 20px;
    border: 1px solid white;
    width: 12rem;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
}

.btn {
    font-size: 30px;
    padding: 0px 20px;
    border-radius: 8px;
    text-align: center;
    background: none;
    color: white;
} */


/* body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 80rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

#main {
    margin: 0%;
    padding: 0%;
    border: 8px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15rem;
    height: 25.7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

li {
    list-style-type: none;
    font-size: 50px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    color: white;
    line-height: 5rem;
    transition: 0.7s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.04);
} */


/* .bold {
    font-size: 40px;
    font-weight: 900;
    color: red;
} */

#buttonOne {
    font-size: 40px;
    border-radius: 8px;
}

#buttonTwo {
    font-size: 40px;
    border-radius: 8px;
}

#buttonThree {
    font-size: 40px;
    border-radius: 8px;
}

.box-one {
    position: absolute;
    border: 1px solid black;
    width: 30rem;
    height: 30rem;
    text-align: center;
    display: block;
    background-color: red;
    color: white;
}

.box-two {
    position: absolute;
    border: 1px solid black;
    width: 30rem;
    height: 30rem;
    text-align: center;
    background-color: blue;
    color: rgb(255, 0, 0);
    display: none;
}

.box-three {
    position: absolute;
    border: 1px solid black;
    width: 30rem;
    height: 30rem;
    text-align: center;
    background-color: yellow;
    color: rgb(0, 0, 0);
    display: none;
}